:root {
    --primary-color: #6c63ff;
    --secondary-color: #f9f7fe;
    --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    --primary-font: 'Poppins', sans-serif;
    --default-font: 'Playfair Display', serif;
}

body {
  margin: 0 auto 60px;
  font-family: var(--primary-font);
}

.main {
  margin: 60px auto;
}

.main h2,
.main p {
  text-align: left;
  padding-left: 0;
}

.heading .heading__intro,
.heading .heading__name,
.heading .heading__subtitle {
  text-align: center;
  margin: 0;
}

.heading {
    text-align: center;
    background-color: var(--secondary-color);
    padding: 160px 20px;
}

.heading .heading__intro {
    font-size: 36px;
    line-height: 54px;
    font-weight: 700;
    padding: 0;
}

.heading .heading__name {
    font-family: var(--default-font);
    font-size: 96px;
    font-weight: 700;
    line-height: 127.97px;
}

.heading .heading__subtitle {
    font-weight: 400;
    line-height: 36px;
    font-size: 24px;
}

.heading p {
  padding: 20px;
  border-radius: 4px;
  font-size: 18px;
  line-height: 1.5;
}

/* .navigation-links {
  display: flex;
  margin-top: 40px;
  justify-content: center;
} */

.navigation-links a {
  margin: 20px;
  border-radius: 4px;
  padding: 18px 30px;
  text-decoration: none;
  text-transform: capitalize;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  color: #ffffff;
}

.contact-link {
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
}

.project-description {
    padding: 30px 60px;
}

.index-content img {
    width: 560px;
    height: 560px;
}

.index-content h2 {
    font-family: var(--default-font);
    font-size: 64px;
    font-weight: 700;
    line-height: 85.31px;
    margin-bottom: 55px;
}

.index-content p {
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    color: #272142;
    opacity: 0.7;
}

.index-content a {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    padding: 18px 30px;
    margin-top: 50px;
    border-radius: 4px;
}


.content-container h1 {
  font-size: 64px;
  line-height: 80px;
  font-family: var(--default-font);
}

.content-container h2 {
  font-size: 18px;
}

.content-container {
  padding: 160px 20px;
}

.content {
  margin: 30px;
  padding-left: 100px;
}

.content .theFace {
  padding-left: 61px;
}

.content h3 {
  font-size: 24px;
  text-align: center;
  line-height: 1.5;
  margin: 20px 0 0;
}

.content p {
  text-align: center;
  font-size: 14px;
}

.content .text-left {
  text-align: left;
}

@media (max-width:900px) {
    .heading {
        padding: 80px 20px;
    }

    .project-description {
        padding: 0;
        text-align: center;
    }

    .heading .heading__name {
        font-size: 60px;
        line-height: 1.5;
    }
    .content h2 {
        font-size: 44px;
    }
}

@media  (max-width: 991.98px) {
  .content-container {
    text-align: center;
    padding: 0;
  }

  .content .theFace {
    padding-left: 0;
  }

  .content .text-left {
    text-align: center;
  }
}

@media (max-width:1200px) {
  .content {
    padding-left: 0;
  }
}
